body{
    font-variant:  Arial, sans-serif;
    text-align: center;
    background: white
    color: black
}  

header {
    background: black;
    color: beige;
    padding: 40px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: black;
}

 nav a { 
    color: beige;
    padding: 15px 20px;
    text-decoration: none;
}

 nav a:hover { 
    background: beige;
}

section {
    padding: 40px 20px;
}

.project {
    background: beige;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin-bottom: 10px;
padding: 10px;
border-radius: 4px;
border: 1px solid beige
}

button {
    padding: 10px;
    background: black;
    color: beige;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background: black;
    color: beige;
    padding: 10px;
}